body {
	background: grey;
	margin: 0;
	color: white;
}

.main-login {
	width: 100vw;
	height: 100vh;
	background: #201b2c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-login {
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-login > h1 {
	color: #77ffc0;
}

.right-login {
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-login {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}







