body {
	background-color: orange;
	margin: 0;
	color: white;
}

.main-login {
	width: 100vw;
	height: 100vh;
	background: #201b2c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-login {
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-login > h1 {
	color: #77ffc0;
}

.right-login {
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-login {
	width: 60%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 30px 35px;
	background: #2f2841;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #00000056; 
}

.textfield {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 10px;
}

.textfield  > input {
	width: 100%;
	border: none;
	/*   corrigir*/
	border-radius: 4px;
	padding: 2px 6px;
	color: #f0ffff;
	font-size: 13pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}

.textfield > label {
	color: #f0ffff;
	margin-bottom: 10px;
}

.textfiled > input::placeholder{
	color: #f0ffff94;
}

.btn-login {
	width: 30%;
	 padding: 16px 0px; 
	margin: 25px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #2b134b;
	background: #00ff88;
	box-shadow: 0px 10px 40px -12px #00ff8052;

}










